*{
    font-family: "Noto Sans Cherokee", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
input {
    box-sizing: border-box;
  }
  input::placeholder{
    font-size: 12px;
  }
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
#selector{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
#selector input{
    width: 40px;
}
#selector label{
    font-size: 12px;
    margin-bottom: 2px;
}
#switch{
    display: flex;
    position: absolute;
    top: 5vh;
    right: 5vh;
    width: 8vw;
    height: 8vh;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#refresh{
    display: flex;
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    width: 8vw;
    height: 8vh;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#errors{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 5vh;
    width: 8vw;
    height: 8vh;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#errorsheader{
    display: flex;
    position: relative;
    top: -2vh;
    background-color: rgb(80, 176, 255);
    font-size: 15px;
    width: 6vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#txt{
    display: flex;
    position: relative;
    top: -1vh;
    font-size: 20px;
    width: 6vw;
    justify-content: center;
    align-items: center;
}
#container{
    height: 60vh;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}
#header{
    width: 40vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: 10px 10px 0 0;
}
#IcaoField{
    display: none;
    margin-bottom: 2vh;
}
#inputMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
}
#footer{
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer button{
    height: 4vh;
    width: 5vw;
    background-color: #36478f;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#score{
    margin-left: 2vw;
}
#submit{
    margin-right: 2vw;
}
.dropdown {
    position: relative;
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    height: 38px;
}

.dropdown-input {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
}
#arrowdown{
    position: absolute;
    right: 0;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown-list {
    display: none;
    position: absolute;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: rgb(254, 254, 236);
    z-index: 1;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.dropdown-item::after {
    content: '';
    position: absolute;
    bottom: 0; /* A szegély az elem alján lesz */
    left: 5%; /* A szélesség 80%-ának megfelelő kezdési pont */
    width: 90%; /* A szegély szélessége a div 80%-a */
    height: 1px; /* A szegély vastagsága */
    background-color: #e0e0e0; /* Szürke színű szegély */
}

.dropdown-item .iconify {
    margin-right: 10px;
}

.country-name {
    margin-left: 5px;
}

.dropdown-item:hover {
    background-color: #c6c6c6;
}
#CallsignField,
#country{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 37px;
}
#ICAOcode{
    justify-content: center;
    width: 200px;
    height: 37px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    border: 1px solid black;
    border-radius: 3px;
}
#CallsignField{
    margin-bottom: 2vh;
}
#Callsign{
    width: 200px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
}
#cls,
#count,
#Icaolabel{
    display: flex;
    width: 90px;
    align-items: center;
}
.hintContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    width: 160px;
    height: 120px;
    background-color: white;
}
.HintBox{
    width: 160px;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#errorRemover{
    position: relative;
    top: -40px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .hintContainer{
        display: initial;
        top: initial;
        transform: initial;
        left: initial;
        bottom: 20px;
        right: 20px;
    }
    #selector{
        top: initial;
        bottom: 50px;
        left: 50px;
    }
    #switch{
        left: 5vh;
        width: 20vw;
        height: 6vh;
    }
    #refresh{
        top: 5vh;
        width: 20vw;
        height: 6vh;
    }
    #container{
        height: 50vh;
        margin-bottom: 20vh;
    }
    #inputMenu{
        height: 30vh;
    }
    #header,
    #container,
    #inputMenu,
    #footer{
        width: 90vw;
    }
    #footer button{
        width: 20vw;
    }
    #CallsignField, #country{
        width: 80vw;
    }
    #errors{
        top: 5vh;
        transform: initial;
        width: 20vw;
        height: 6vh;
        right: initial;
    }
    #errorsheader{
        width: 14vw;
    }
}